:root {
    --maincolor: #62B273;
    --second:#E8674D;
    --third:#E8A13A;
    --light:#F5ECE9;
    --mainlight: #CEEADD;
    --thirdlight: #EED6C5;
    --celeste: #b7dbf3;
}

/* Background color root */
.bg-maincolor {
    background-color: var(--maincolor);
}

.bg-second {
    background-color: var(--second);
}

.bg-panna {
    background-color: var(--light);
}

.bg-third {
    background-color: var(--third);
}

.bg-mainlight {
    background-color: var(--mainlight);
}

.bg-thirdlight {
    background-color: var(--thirdlight);
}

.bg-celeste{
    background-color: var(--celeste);
}

/* Testi */

.text-maincolor {
    color: var(--maincolor);
}

.text-second {
    color: var(--second);
}

.text-panna {
    color: var(--light);
}

.text-third {
    color: var(--third);
}

.text-mainlight {
    color: var(--mainlight);
}

.text-thirdlight {
    color: var(--thirdlight);
}

h1, h3, h4 {
    font-family: 'Sora', sans-serif;
    /* font-size: 35px;
    font-weight: 700; */
}

h2, h5 {
    font-family: 'Yomogi', cursive;
    /* font-size: 40px; */
}

h3 {
    font-size: 26px;
    /* font-weight: 700; */
}

h4 {
    font-size: 20px;
    /* font-weight: 700; */
}

h5 {
    /* font-size: 20px; */
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}


.headFixAnimEntrate {
    animation: headScrollEntrance 0.5s ease 0s 1 normal forwards;
}

.headFixAnimExit {
    /* margin-top: 8vh; */
    animation: headScrollExit 0.5s ease 0s 1 normal forwards;
}

@keyframes headScrollExit {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-50px);
	}
}



@keyframes headScrollEntrance {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}



.fs-10 {
    font-size: 13px;
    transition: .4s;
}

.box_ini {
    border: 1px solid black;
    max-height: 550px;
    max-width: 550px;
}

/* per intestazione (logo) */
.presto {
    height: 40px;
}

.p-8 {
    padding: 8vh;
}


.prestissimo{
    font-family: 'Sora', sans-serif;
    color: var(--maincolor);
    font-size: 26px;
}

/* bottoni */

.btn_verde{
    color: black;
    border: 1px solid black ;
    border-radius: 0px;
    background-color: var(--maincolor);
    font-family: 'Sora', sans-serif;
    font-weight: 900;
    transition: .4s;
}

.btn_verde:hover{
    color: black;
    border: 1px solid black ;
    border-radius: 0px;
    background-color: var(--maincolor);
    font-family: 'Sora', sans-serif;
    font-weight: 900;
    box-shadow: 5px 5px 0px 1px black;
}

.btn_verde:active {
    border: 1px solid black;
    background-color: var(--maincolor);
    box-shadow: 0px 0px 0px 1px #000;}

    .btn_rosso {
        color: black;
        border: 1px solid black ;
        border-radius: 0px;
        background-color: var(--second);
        font-family: 'Sora', sans-serif;
        font-weight: 900;
        transition: .4s;
    }
    
    .btn_rosso:hover{
        color: black;
        border: 1px solid black ;
        border-radius: 0px;
        background-color: var(--second);
        font-family: 'Sora', sans-serif;
        font-weight: 900;
        box-shadow: 5px 5px 0px 1px black;
    }

    .btn_giallo{
        color: black;
        border: 1px solid black ;
        border-radius: 0px;
        background-color: var(--third);
        font-family: 'Sora', sans-serif;
        font-weight: 900;
        transition: .4s;
    }
    
    .btn_giallo:hover{
        color: black;
        border: 1px solid black ;
        border-radius: 0px;
        background-color: var(--third);
        font-family: 'Sora', sans-serif;
        font-weight: 900;
        box-shadow: 5px 5px 0px 1px black;
    }
    
    .btn_giallo:active {
        border: 1px solid black;
        background-color: var(--third);
        box-shadow: 0px 0px 0px 1px #000;}



.btn-main_third{
    color: black;
    background-color: var(--third);
    font-family: 'Sora', sans-serif;
    font-weight: 600;}

.fs-button {
    font-family: 'Sora', sans-serif;
    font-size: 10px;
    font-weight: 900;
}

/* sezione revisore */
.col-revisor{
    border: 2px solid transparent;
}

.col-revisor:hover{
    border: 2px solid black;
}


/* foto profilo card */
.img-size {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: 110px;
    left: 220px;
}

.img-size_team{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 2px solid black;
    background: var(--maincolor);
    position: absolute;
    top: 28%;
    left: 65%;
}

/* bacheca */
.bacheca {
    background-image: url('/public/frontend/sughero.png');
    background-size: cover;
    border: 10px solid rgb(196, 144, 81);
    padding: 0px;
    
}

.postit{
    background-image: url('/public/frontend/postit.png');
    padding-top: 8vh;
    padding-right: 2vh;
    padding-bottom: 10vh;
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid transparent;
}

.in_postit{
    max-height: 15vh;
    max-width: 30vh;
    margin-bottom: 8px;
}

.btn_verde_postit{
    color: black;
    border: 1px solid black ;
    border-radius: 0px;
    background-color: var(--maincolor);
    font-family: 'Sora', sans-serif;
    font-weight: 900;
    transition: .4s;
    margin-left: 170px;
}

.btn_verde_postit:hover{
    color: black;
    border: 1px solid black ;
    border-radius: 0px;
    background-color: var(--maincolor);
    font-family: 'Sora', sans-serif;
    font-weight: 900;
    box-shadow: 5px 5px 0px 1px black;
}

.btn_verde_postit:active {
    border: 1px solid black;
    background-color: var(--maincolor);
    box-shadow: 0px 0px 0px 1px #000;
}

.vh-75 {
    height: 60vh;
}

.mt-10 {
    margin-top: 8vh;
}



/* inizio tasti navbar desktop */

.nav-link {
    font-family: 'Sora', sans-serif;
}

.home {
    border: 1px solid transparent;
    transition: .4s;
}

.ads {
    border: 1px solid transparent;
    transition: .4s;
}

.access {
    border: 1px solid transparent;
    transition: .4s;
}

.insert {
    border: 1px solid transparent;
    transition: .4s;
}

.profile {
    border: 1px solid transparent;
    transition: .4s;
}

.revisor {
    border: 1px solid transparent;
    transition: .4s;
}

.revisor:hover {
    border: 1px solid white;
    background-color: black;
    color: white !important;
    box-shadow: 5px 5px 0px 1px #000;
    transition: .4s;
}

.home:hover {
    border: 1px solid black;
    background-color: var(--thirdlight);
    box-shadow: 5px 5px 0px 1px #000;
}

.ads:hover {
    border: 1px solid black;
    background-color: var(--mainlight);
    box-shadow: 5px 5px 0px 1px #000;
}

.access:hover {
    border: 1px solid white;
    background-color: black;
    box-shadow: 5px 5px 0px 1px black;
    color: white !important;
}

.insert:hover {
    border: 1px solid black;
    box-shadow: 5px 5px 0px 1px #000;
    background-color: var(--third);
}

.profile:hover {
    border: 1px solid black;
    background-color: var(--second);
    box-shadow: 5px 5px 0px 1px black;
}

.home:active {
    border: 1px solid black;
    background-color: var(--mainlight);
    box-shadow: 0px 0px 0px 1px #000;
}

.ads:active {
    border: 1px solid black;
    background-color: var(--mainlight);
    box-shadow: 0px 0px 0px 1px #000;
}

.access:active {
    box-shadow: 0px 0px 0px 1px #000;
    border: 1px solid black;
    background-color: black;
    color: white !important;
}

.insert:active {
    border: 1px solid black;
    box-shadow: 0px 0px 0px 1px #000;
    background-color: var(--third);
}

.profile:active {
    border: 1px solid black;
    background-color: var(--second);
    box-shadow: 0px 0px 0px 1px #000;
}

.revisor:active {
    border: 1px solid black;
    background-color: var(--maincolor);
    box-shadow: 0px 0px 0px 1px #000;
}

.profile:visited {
    border: 1px solid black;
    background-color: var(--second);
    box-shadow: 0px 0px 0px 1px #000;
}

.profile:focus {
    border: 1px solid black;
    background-color: var(--second);
    box-shadow: 0px 0px 0px 1px #000;
}

.dropdown-menu {
    border: 1px solid black;
    box-shadow: 5px 5px 0px 1px black;
}

.current {
    border: 1px solid black;
    background-color: var(--third);
    box-shadow: 5px 5px 0px 1px #000;
}



/* Fine tasti navbar da dasktop */

/* sfonfdo accesso utente */

.pianta-accedi{
    height: 650px;
    /* padding-left: 150px; */
}

.objCover {
    height: 440px;
    width: 100%;
    /* object-fit: cover; */
}

.shadow-box {
    border: 1px solid black;
    box-shadow: 5px 5px 0px 1px #000;
    border-radius: 0px;
}

/* z-index per dropdown searchbar */
/* e offcanvas filtri */
.z-10 {
    z-index: 10;
}

/* z-index per top navbar */
.z-9 {
    z-index: 9;
}

.z-8 {
    z-index: 8;
}

.in_category {
    font-size: 15px;
    font-weight: 500;
}


/*
Inizio style per carosello categorie
*/

.left_arrows {
    padding: 0px;
    position: absolute;
    top: 35%;
    left: -15px;
    font-size: 20px;
    height: 35px;
    width: 35px;
    background: var(--maincolor);
    color: black;
    z-index: 7;
    text-align: center;
    line-height: 1.3;
    border: 1px solid black;
    cursor: pointer;
    transition: .4s;
}

.left_arrows:hover {
    background-color: black;
    color: white;
}

.right_arrows {
    padding: 0px;
    position: absolute;
    top: 35%;
    left: 1295px;
    font-size: 20px;
    height: 35px;
    width: 35px;
    background: var(--maincolor);
    color: black;
    z-index: 7;
    text-align: center;
    line-height: 1.3;
    border: 1px solid black;
    cursor: pointer;
    transition: .4s;
}

.right_arrows:hover {
    background-color: black;
    color: white;
}

.nav-mob-costum{
    height: 65px;
    /* border: 0px solid black;
    background-color: var(--third); */
}

.pseudoStatusBar::after {
    content: '';
    height: 9px;
    width: 80px;
    background-color: var(--third);
    font-size: 20px;
    position: absolute;
    top: -47px;
    left: -7px;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid transparent;

    /* ! OPPURE */

    /* content: '⚪';
    position: absolute;
    top: 15px;
    left: 26px;
    padding: 0px;
    margin: 0px;
    transition: .5s; */
}

/*
Fine style per carosello categorie
*/

.img-preview {
    height: 300px;
    width: 300px;
}

.bg-category {
    background-image: url('/public/frontend/blob-haikei.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-offcanvas {
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600));
}

.bg-sughero {
    background-image: url('/storage/app/public/images/frontend/bacheca.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 23px;
    padding-right: 23px;
    margin-top: 30px;
}

.bg-post {
    background-image: url('/storage/app/public/images/frontend/postit.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.Card-img {
    height: 130px;
    width: 300px;
    padding-top: 38px;
    padding-left: 30px;
}

/* animazioni img */

.anima_raimbow{
    animation: raimbow 10s linear 0s infinite normal none;
}

@keyframes raimbow {

    0% {
		transform: rotate(6deg);
	}

	15% {
		transform: rotate(-6deg);
	}

	30% {
		transform: rotate(6deg);
	}

	45% {
		transform: rotate(-6deg);
	}

	60% {
		transform: rotate(6deg);
	}

	75% {
		transform: rotate(-6deg);
	}

    100% {
		transform: rotate(6deg);
	}
}

/* DARK MODE */
.darkmode {
    background-color: #1c1d1f;
    /* color: white; */
}

.darkmode .textInDark {
    color: white;
}

.darkmode .bg-Fixdark {
    background-color: #1c1d1f !important;
}


#checkbox {
    cursor: pointer;
}


/* Media Query */

@media screen and (max-width:390px) {
    .img-size {
        height: 90px;
        width: 90px;
        border-radius: 50%;
        border: 2px solid white;
        position: absolute;
        top: 120px;
        left: 230px;
    }

    .pianta-accedi{
        height: 300px;
        padding-left: 80px;
    }

    .postit{
        background-image: url('/public/frontend/postit.png');
        padding-top: 8vh;
        padding-right: 0vh;
        padding-bottom: 6vh;
        background-repeat: no-repeat;
        background-size: contain;
        border: 5px solid transparent;
    }
    
    .in_postit{
        margin-left: 20px;
        max-height: 20vh;
        max-width: 34vh;
        margin-bottom: 8px;
    }

}
